.container {
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(124, 124, 124, 0.493);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  overflow: hidden;
  width: 15rem;
  backdrop-filter: blur(0.3rem);
  background-color: rgba(250, 250, 250, 0.219);
  border: .1rem solid rgba(124, 124, 124, 0.493);
  color: rgba(238, 135, 18, 0.897);
  width: 80%;
  height: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-left: 130px;
  text-shadow: 1.5px 1.5px rgba(216, 205, 210, 0.986);
}
.container h2{
    
    font-size: 40px;
    width: 100%;
    height: 50px;
    color: rgba(238, 135, 18, 0.897);
    font-weight: bold;
}
.subContainer{
  display: flex;
  flex-direction: row;
}
.subContainer img{
  width: 50%;
  height: 420px;
  border-radius: 50px;
  margin-right: 20px;
  opacity: 0.85;
  margin-left: 20px;
}
.columnContainer{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: flex-start;
  text-align: left;
}
.summaryStep{
  color: #b43977;
  /* color: rgb(14, 14, 59); */
  
}