.card {
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(124, 124, 124, 0.493);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.301);
    border: .1rem solid rgba(124, 124, 124, 0.493);
    /* color: rgba(143, 32, 84, 0.986); */
    color: rgba(119, 24, 68, 0.986);
    width: 330px;
    height: 400px;
    text-shadow: 1.5px 1.5px rgba(216, 205, 210, 0.986);
}
.card h2{
    font-family: 'Dancing Script';
    font-size: 130%;
    font-weight: bolder;
    width: 300px;
    height: 50px;
    align-self: center;
    box-shadow: 0 1rem 1rem rgba(80, 80, 80, 0.493);
    border-radius: 20px;
    
}
.card h4{
    font-family: 'Dancing Script';
    font-size: 120%;
    width: 300px;
    height: 35px;
    align-self: center;
}
.card img{
    margin-top: 5px;
    width: 80%;
    height: 250px;
    
    display: block;
    align-self: center;
    border-radius: 20px;
}
.card:hover{
    background-color: rgba(255, 255, 255, 0.712);
}