.container {
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(124, 124, 124, 0.493);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(0.2rem);
    background-color: transparent;
    border: .1rem solid rgba(199, 121, 32, 0.568);
    color: rgba(143, 32, 84, 0.986);
    width: 50%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 25%;
    position: relative;
    text-shadow: 1.5px 1.5px rgba(216, 205, 210, 0.986);
  }
  .container label{
      display: block;
      font-size: 20px;
      width: 50%;
      height: 30px;
      color: rgba(143, 32, 84, 0.986);
      font-weight: bold;
      margin-left: 25%;
  }
  .container input{
      display: block;
    font-size: 20px;
    width: 50%;
    height: 30px;
    color: rgba(143, 32, 84, 0.986);
    
    margin-left: 25%;
}
.container textarea {
    display: block;
    font-size: 20px;
    width: 50%;
    height: 30px;
    color: rgba(143, 32, 84, 0.986);
    margin-left: 25%;
}
.danger{
    color: rgb(218, 21, 21);
    border: rgb(218, 21, 21);
}
.subContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.subContainer label, input{
    margin-left: 0px;
    font-size: 23px;
    text-shadow: 1.5px 1.5px rgba(216, 205, 210, 0.986);
}
.centrar{
    width: 80%;
    margin: 0 auto;
}
.prueba{
    display: flex;
    flex-direction: row;
     position: relative;
     width: 45%;
     height: 50px;
     text-align: left;
     margin-top: 15px;
     margin-left: 0px;
}
.prueba input{
    margin-left: 100px;
    margin-right: 0px;
    position: absolute;
}

.btn {
    margin-left: 20px;
    width: 20%;
    height: 60%;
    background-color: rgba(199, 144, 41, 0.897);
    border: solid 1px rgba(133, 77, 13, 0.822);
    color: white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    align-self: center;
}
.btn:enabled:hover {
   background-color: rgba(104, 73, 16, 0.897); ;
}
 