body {
    background-image: url("../img/img14.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    min-height: 100vh;
    min-width: 100vh;
}
.container {
    display: flex;
    height: 56px;
    width: 100%;
    background-color: #7a204db6;
    justify-content: space-evenly;
    align-items: center;
  
   
}
.title {
    color: rgba(255, 255, 255, 0.897);
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
 }
.btn {
    width: 150%;
    height: 100%;
    background-color: rgba(233, 168, 49, 0.897);
    border: solid 1px rgba(199, 121, 32, 0.822);
    color: white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.btn:hover {
    background-color: rgba(104, 73, 16, 0.897);
}